@import '_common.scss';
@import '_mixin.scss';



.about-logo{
  width: 100%; max-width: 760px;
  padding-top: 150px; text-align: center;
  img{width: 200px;}
}
.description{
  width: 100%; max-width: 760px;
  margin: 30px auto;
  p{
    text-align: center; font-size: 13px;
  }
}
.img{
  width: 100%; max-width: 760px;
  img{width: 100%;}
}