@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");
body {
  max-width: 760px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

image {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.material-icons-outlined {
  font-family: 'Material Icons';
}

.title {
  width: 100%;
  max-width: 760px;
  height: 200px;
  padding: 100px 15px 20px;
}

.title h2 {
  font-size: 55px;
  text-align: center;
}

.title h2 .glitch {
  position: relative;
}

.title h2 .glitch::before, .title h2 .glitch::after {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  top: 0;
  overflow: hidden;
  color: transparent;
}

.title h2 .glitch::before {
  -webkit-animation: glitch 2s infinite linear;
          animation: glitch 2s infinite linear;
}

.title h2 .glitch::after {
  -webkit-animation: glitch 6s infinite linear;
          animation: glitch 6s infinite linear;
}

@-webkit-keyframes glitch {
  0% {
    clip: rect(14px, 9999px, 56px, 0px);
    text-shadow: -2px 0 #ff00d4ef;
  }
  5% {
    clip: rect(114px, 9999px, 64px, 0px);
    text-shadow: 2px 0 #3afe3ac2;
  }
  10% {
    clip: rect(60px, 9999px, 5px, 0px);
    text-shadow: -2px 0 #001affc5;
  }
  15% {
    clip: rect(66px, 9999px, 55px, 0px);
    text-shadow: 2px 0 #ff00d4ef;
  }
  20% {
    clip: rect(35px, 9999px, 121px, 0px);
    text-shadow: -2px 0 #3afe3ac2;
  }
  25% {
    clip: rect(88px, 9999px, 100px, 0px);
    text-shadow: 2px 0 #001affc5;
  }
  30% {
    clip: rect(78px, 9999px, 111px, 0px);
    text-shadow: -2px 0 #ff00d4ef;
  }
  35% {
    clip: rect(54px, 9999px, 84px, 0px);
    text-shadow: 2px 0 #3afe3ac2;
  }
  40% {
    clip: rect(86px, 9999px, 64px, 0px);
    text-shadow: -2px 0 #001affc5;
  }
  45% {
    clip: rect(82px, 9999px, 126px, 0px);
    text-shadow: 2px 0 #ff00d4ef;
  }
  50% {
    clip: rect(111px, 9999px, 86px, 0px);
    text-shadow: -2px 0 #3afe3ac2;
  }
  55% {
    clip: rect(107px, 9999px, 50px, 0px);
    text-shadow: 2px 0 #001affc5;
  }
  60% {
    clip: rect(101px, 9999px, 95px, 0px);
    text-shadow: -2px 0 #ff00d4ef;
  }
  65% {
    clip: rect(137px, 9999px, 121px, 0px);
    text-shadow: 2px 0 #3afe3ac2;
  }
  70% {
    clip: rect(22px, 9999px, 86px, 0px);
    text-shadow: -2px 0 #001affc5;
  }
  75% {
    clip: rect(40px, 9999px, 66px, 0px);
    text-shadow: 2px 0 #ff00d4ef;
  }
  80% {
    clip: rect(59px, 9999px, 78px, 0px);
    text-shadow: -2px 0 #3afe3ac2;
  }
  85% {
    clip: rect(6px, 9999px, 62px, 0px);
    text-shadow: 2px 0 #001affc5;
  }
  90% {
    clip: rect(140px, 9999px, 85px, 0px);
    text-shadow: -2px 0 #ff00d4ef;
  }
  95% {
    clip: rect(39px, 9999px, 8px, 0px);
    text-shadow: 2px 0 #3afe3ac2;
  }
  100% {
    clip: rect(47px, 9999px, 76px, 0px);
    text-shadow: -2px 0 #001affc5;
  }
}

@keyframes glitch {
  0% {
    clip: rect(14px, 9999px, 56px, 0px);
    text-shadow: -2px 0 #ff00d4ef;
  }
  5% {
    clip: rect(114px, 9999px, 64px, 0px);
    text-shadow: 2px 0 #3afe3ac2;
  }
  10% {
    clip: rect(60px, 9999px, 5px, 0px);
    text-shadow: -2px 0 #001affc5;
  }
  15% {
    clip: rect(66px, 9999px, 55px, 0px);
    text-shadow: 2px 0 #ff00d4ef;
  }
  20% {
    clip: rect(35px, 9999px, 121px, 0px);
    text-shadow: -2px 0 #3afe3ac2;
  }
  25% {
    clip: rect(88px, 9999px, 100px, 0px);
    text-shadow: 2px 0 #001affc5;
  }
  30% {
    clip: rect(78px, 9999px, 111px, 0px);
    text-shadow: -2px 0 #ff00d4ef;
  }
  35% {
    clip: rect(54px, 9999px, 84px, 0px);
    text-shadow: 2px 0 #3afe3ac2;
  }
  40% {
    clip: rect(86px, 9999px, 64px, 0px);
    text-shadow: -2px 0 #001affc5;
  }
  45% {
    clip: rect(82px, 9999px, 126px, 0px);
    text-shadow: 2px 0 #ff00d4ef;
  }
  50% {
    clip: rect(111px, 9999px, 86px, 0px);
    text-shadow: -2px 0 #3afe3ac2;
  }
  55% {
    clip: rect(107px, 9999px, 50px, 0px);
    text-shadow: 2px 0 #001affc5;
  }
  60% {
    clip: rect(101px, 9999px, 95px, 0px);
    text-shadow: -2px 0 #ff00d4ef;
  }
  65% {
    clip: rect(137px, 9999px, 121px, 0px);
    text-shadow: 2px 0 #3afe3ac2;
  }
  70% {
    clip: rect(22px, 9999px, 86px, 0px);
    text-shadow: -2px 0 #001affc5;
  }
  75% {
    clip: rect(40px, 9999px, 66px, 0px);
    text-shadow: 2px 0 #ff00d4ef;
  }
  80% {
    clip: rect(59px, 9999px, 78px, 0px);
    text-shadow: -2px 0 #3afe3ac2;
  }
  85% {
    clip: rect(6px, 9999px, 62px, 0px);
    text-shadow: 2px 0 #001affc5;
  }
  90% {
    clip: rect(140px, 9999px, 85px, 0px);
    text-shadow: -2px 0 #ff00d4ef;
  }
  95% {
    clip: rect(39px, 9999px, 8px, 0px);
    text-shadow: 2px 0 #3afe3ac2;
  }
  100% {
    clip: rect(47px, 9999px, 76px, 0px);
    text-shadow: -2px 0 #001affc5;
  }
}

.order-status {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

.order-status span {
  margin: 0 10px;
  font-size: 16px;
  color: #ddd;
  font-weight: bold;
}

.order-status span small {
  display: inline-block;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-left: 10px;
  font-size: 12px;
}

.order-status span.active {
  color: #000;
}

.order-tab-wrap > li {
  width: 92%;
  margin: 30px auto;
  min-height: 150px;
  display: none;
}

.order-tab-wrap > li.active {
  display: block;
}

.empty {
  padding-top: 50px;
}

.empty p {
  text-align: center;
  font-size: 13px;
  color: #444;
  font-weight: 600;
}

.filled {
  width: 100%;
}

.filled .select-wrap {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 2px solid #000;
}

.filled .select-wrap .select-all input {
  display: none;
}

.filled .select-wrap .select-all label {
  font-size: 12px;
  color: #aaa;
}

.filled .select-wrap .select-all label span {
  display: inline-block;
  font-size: 22px;
  color: #ddd;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  margin-right: 5px;
}

.filled .select-wrap .select-all #selectAll:checked + label span {
  color: #000;
}

.filled .select-wrap .select-delete button {
  padding: 5px 10px;
  background-color: #fff;
  font-size: 12px;
  color: #003594;
  border: 2px solid #003594;
  border-radius: 30px;
}

.filled .product-list-wrap .product-unit {
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

.filled .product-list-wrap .product-unit .unit-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.filled .product-list-wrap .product-unit .unit-top .select-one {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.filled .product-list-wrap .product-unit .unit-top .select-one input {
  display: none;
}

.filled .product-list-wrap .product-unit .unit-top .select-one label span {
  font-size: 22px;
  color: #ddd;
  margin-right: 5px;
}

.filled .product-list-wrap .product-unit .unit-top .select-one .selectOne:checked + label span {
  color: #000;
}

.filled .product-list-wrap .product-unit .unit-top figure {
  width: 100px;
  height: 100px;
}

.filled .product-list-wrap .product-unit .unit-top figure img {
  width: 100%;
}

.filled .product-list-wrap .product-unit .unit-top .product-info {
  width: 57%;
}

.filled .product-list-wrap .product-unit .unit-top .product-info .product-name {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.filled .product-list-wrap .product-unit .unit-top .product-info .product-size {
  margin: 10px 0;
  font-size: 13px;
  color: #333;
}

.filled .product-list-wrap .product-unit .unit-top .product-info .product-quantity {
  font-size: 13px;
  color: #333;
}

.filled .product-list-wrap .product-unit .unit-top .product-info .product-price {
  margin: 5px 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.filled .product-list-wrap .product-unit .unit-top .product-unit-close {
  position: relative;
}

.filled .product-list-wrap .product-unit .unit-top .product-unit-close span {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  width: 20px;
  height: 1px;
  background-color: #888;
}

.filled .product-list-wrap .product-unit .unit-top .product-unit-close span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filled .product-list-wrap .product-unit .unit-top .product-unit-close span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filled .product-list-wrap .product-unit .unit-bottom {
  font-size: 12px;
  color: #aaa;
  margin-left: 40px;
}

.filled .buy-total-wrap {
  width: 100%;
  margin: 30px 0;
  padding: 25px;
  background-color: #003594;
  border-radius: 60px;
}

.filled .buy-total-wrap .buy-total-top {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.filled .buy-total-wrap .buy-total-top dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 13px;
  color: #fff;
}

.filled .buy-total-wrap .buy-total-middle dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
}

.filled .buy-total-wrap .buy-total-middle dl dt {
  font-size: 17px;
}

.filled .buy-total-wrap .buy-total-middle dl dd {
  font-size: 22px;
}

.filled .buy-total-wrap .buy-total-bottom {
  margin-top: 30px;
}

.filled .buy-total-wrap .buy-total-bottom button {
  width: 100%;
  margin: 10px 0;
  padding: 15px 0;
  display: block;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 18px;
}

.filled .buy-total-wrap .buy-total-bottom button:nth-of-type(1) {
  background-color: #003594;
  color: #fff;
}

.filled .buy-total-wrap .buy-total-bottom button:nth-of-type(2) {
  background-color: #fff;
  color: #003594;
}
/*# sourceMappingURL=cart.css.map */