@import '_common.scss';
@import '_mixin.scss'; 



.lookbook-content-wrap{
  width: 100%;
  margin: 0 auto;
  margin-top : 65px;
  overflow: hidden;
  position: relative;

  .lookbook-img-wrap{
    display: flex;
    align-items: center;
    

    li{
      width: 100%;
      img{
        width: 100%;
      }
    }
  }

  .indi-wrap{
    width: 90%;
    margin: 50px auto;

    .indi-arrow-wrap{
      span{position: absolute;}
      .arrow-prev{
        left : 30px;
        top: calc(50% - 100px);
        width: 40px; height: 40px;
        border-left: 1px solid rgba(255,255,255,0.5);
        border-bottom: 1px solid rgba(255,255,255,0.5);;
        transform: rotate(45deg);
      }
      .arrow-next{
        right : 30px;
        top: calc(50% - 100px);
        width: 40px; height: 40px;
        border-right: 1px solid rgba(255,255,255,0.5);;
        border-top: 1px solid rgba(255,255,255,0.5);;
        transform: rotate(45deg);
      }
    }
    .indi-dot{
      width: 100%; text-align: center;
      span{
        display: inline-block;
        margin: 0 5px;
        width: 12px; height: 12px;
        border: 1px solid #000;
        border-radius: 100%;
      }
      span.active{
        background-color: #000;
      }
    }
  }
}