@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
body {
  max-width: 760px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

image {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.material-icons-outlined {
  font-family: 'Material Icons';
}

.popup {
  position: absolute;
  z-index: 11;
  text-align: center;
}

.popup .popup-close span {
  display: block;
  height: 25px;
  border-left: 1px solid #000;
  position: absolute;
  right: 30px;
  top: 20px;
}

.popup .popup-close span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup .popup-close span:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup .popup-top {
  width: 340px;
  height: 380px;
  border-radius: 30px;
  background-color: #fafafa;
}

.popup .popup-top h3 {
  padding: 30px 0;
  font-size: 2.2rem;
  color: #333;
  border-bottom: 2px solid #ddd;
}

.popup .popup-top .popup-content {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup .popup-top .popup-content p {
  margin: 5px 0;
  font-weight: 300;
}

.popup .popup-bottom {
  font-size: 14px;
  color: #333;
  font-weight: 300;
  margin: 3px 20px;
  text-align: right;
}

.popup .popup-bottom input {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 100%;
  vertical-align: middle;
}

main section ul {
  position: relative;
}

main section ul li img {
  width: 100%;
  max-width: 760px;
  vertical-align: middle;
}

.slide-bg {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.fake {
  width: 100%;
  max-width: 760px;
  opacity: 0;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: soft-light;
}

@-webkit-keyframes mainSlide {
  0% {
    opacity: 1;
  }
  3% {
    -webkit-transform: translate(5px, -2px);
            transform: translate(5px, -2px);
  }
  4% {
    -webkit-transform: translate(-5px, 2px);
            transform: translate(-5px, 2px);
  }
  5% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  32% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mainSlide {
  0% {
    opacity: 1;
  }
  3% {
    -webkit-transform: translate(5px, -2px);
            transform: translate(5px, -2px);
  }
  4% {
    -webkit-transform: translate(-5px, 2px);
            transform: translate(-5px, 2px);
  }
  5% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  32% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes subSlide {
  0% {
    opacity: 1;
  }
  32% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes subSlide {
  0% {
    opacity: 1;
  }
  32% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainSlide {
  -webkit-animation: mainSlide 12s ease-in infinite;
          animation: mainSlide 12s ease-in infinite;
}

.subSlide {
  -webkit-animation: subSlide 12s ease-in infinite;
          animation: subSlide 12s ease-in infinite;
}

.slide2 {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.slide3 {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.slide-status {
  position: absolute;
  left: 15px;
  top: 36%;
  z-index: 2;
  width: 110px;
}

.slide-status p {
  font-size: 13px;
  color: #fff;
}

.slide-status p:nth-of-type(1) {
  text-align: left;
}

.slide-status p:nth-of-type(2) {
  text-align: right;
}

.slide-status div {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.5);
}

.slide-status div span {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 33%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.event.active {
  opacity: 1;
}

.event {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.eventFake {
  width: 100%;
  max-width: 760px;
  opacity: 0;
}

.event-slide-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 203%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.event-slide-bg .eventSlide {
  width: 102%;
  -webkit-box-shadow: 10px 10px 10px #ddd;
          box-shadow: 10px 10px 10px #ddd;
}

.event-status {
  width: 95%;
  height: 5px;
  margin: 20px auto;
  background-color: #ddd;
  position: relative;
  overflow: hidden;
}

.event-status span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=main.css.map */