@import '_common.scss';
@import '_mixin.scss';



@include glitch;

.special-content-wrap{
  width: 100%;
  margin: 50px auto;

  h3{
    padding: 20px 15px;
    background-color: $blue;
    font-size: 14px; color: #fff; font-weight: 400;
  }
  a{
    display: block;
    padding: 15px;
    font-size: 14px; color: #000; text-align: center;
    span{
      display: inline-block;
      width: 10px; height: 10px;
      border-right: 1px solid #333;
      border-bottom: 1px solid #333;
      transform: rotate(-45deg);
      margin: 0 10px;
    }
  }

  .special-content{
    img{width: 100%;}
  }
}
